<h1>Felix and Orasa's Hacker News</h1>

<table>
  <tr>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%= link_to link.url, link.url %></td>
    <td><%= link_to 'Show', link %></td>
    <td><%= link_to 'Comment', comments_path %></td>

  </tr>
<% end %>
</table>




