<h> Faux Hacker News</h1>

<table>
  <tr>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <% if can_vote?(link) %>
    <td><%= button_to "Vote", votes_path(:vote => {:link_id => link.id, :vote_status => true}) %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= link_to link.url, link.url %></td>
    <td><%= link_to 'Comment', link %></td>

  </tr>
<% end %>
</table>




